---
import { Image } from 'astro:assets';
import ghostImage from '../images/card-hanatane.png';
const projects = [
    {
		title: 'はなしのタネ',
		url: 'https://hanatane.net/',
        description: 'テクノロジー、ゲーム、サイエンスを中心に、日々の小さな発見や感動を綴っています。',
        imageSrc: ghostImage,
        tags: ['blog', 'tech', 'game', 'science']
	}
]
---

<div class="flex flex-wrap justify-center items-center gap-4 my-8">
    {projects.map((project) => (
            <a href={project.url} title={project.title} class="max-w-sm rounded overflow-hidden shadow-lg">
                <Image src={project.imageSrc} alt="Sunset in the mountains" class="w-full" />
                <div class="px-6 py-4 bg-white">
                    <div class="font-bold text-xl mb-2">{project.title}</div>
                    <p class="text-gray-700 text-base">
                    {project.description}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2 bg-white">
                    {project.tags.map((tag) => (
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{tag}</span>
                    ))}
                </div>
            </a>
    ))}
</div>
