---
import { SEO } from "astro-seo";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.webp",
  Astro.site
).toString();

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Masayuki Tanenobu" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/site.webmanifest">
		<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<SEO
			title={title}
			description={description}
			canonical={canonicalURL}
			openGraph={{
				basic: {
					title: title,
					type: "website",
					image: resolvedImageWithDomain,
				}
			}}
			twitter={{
				creator: "@mtane0412",
				site: "@mtane0412",
        		card: "summary_large_image",
			}}
	  	/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-YD0ZZJM036"></script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-YD0ZZJM036');
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
